/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 20px auto;
  text-align: center;
}

h3{
  text-align: left;
  padding: 0 20%;
}
/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
